<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

<!--
    use-default-filters="false" ->让Bean注解全部失效 无论哪个
    全部失效的话 我们就要配置include的 能够包含 激活想用的
-->

    <!--<context:component-scan base-package="com.fuck.Go.Dao2" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>-->

<!--
    如果use-default-filters="true" 就不绞杀那些注释
    我们就要用exclude-filter  把不想要的给抹除
    顺带一提 不能乱搞@Component 因为那三个都是他的派生类 会直接连带他们都给杀死
-->
    <context:component-scan base-package="com.fuck.Go.Dao2" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>



</beans>